﻿@using SdRashaGYMV2.ViewModels;
@model ChangePasswordViewModel;
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Change Password";
}
<style>
    /* General styling */
    body {
        background-image: url('https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover;
        background-position: center;
        background-repeat: repeat-y;
        /* margin: 0; */
        font-family: Arial, sans-serif;
        background-color: #1d1f26;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .btn-primary {
        color: #fff;
        border: none
    }
</style>
<div class="form-container">
    <div class="logo-container">
        <img src="~/Assets/Images/1-removebg-preview.png" alt="Logo" class="logo">
    </div>
    <h2 class="form-title">Change Password</h2>
    <form asp-action="ChangePassword" method="post" class="form-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group">
            <label asp-for="Email" class="form-label d-flex align-items-center">
                <i class="fas fa-envelope me-2"></i>
            </label>
            <input asp-for="Email" type="text" placeholder="Email" readonly>
           </div>
        <div class="input-group">
            <label asp-for="NewPassword" class="form-label d-flex align-items-center">
                <i class="fas fa-lock me-2"></i>
            </label>
            <input asp-for="NewPassword" type="password" placeholder="New Password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label asp-for="ConfirmNewPassword" class="form-label d-flex align-items-center">
                <i class="fas fa-lock me-2"></i>
            </label>
            <input asp-for="ConfirmNewPassword" type="password" placeholder="Confirm New Password">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="submit" value="Submit" class="btn btn-danger w-100 p-2" />
            </div>
            <div class="col-6">
                <a asp-controller="Account" asp-action="VerifyEmail" class="btn btn-primary form-control text-decoration-none w-100 p-2">Back</a>
            </div>
        </div>   
    </form>
    @if (ViewBag.Error != null)
    {
        <p class="error-message">@ViewBag.Error</p>
    }
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

