@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ShowHeader"] = true;
}

<h1>Welcome, @ViewBag.Username!</h1>
<p>You have successfully logged in.</p>
<a asp-action="Logout">Logout</a>

@* <a href="@Url.Action("Logout", "Login")">Logout</a>
 *@