
@model SdRashaGYMV2.ViewModels.EditUserViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<style>
      /* General styling */
    body {
        background-image: url('https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover;
        background-position: center;
        background-repeat: repeat-y;
        /* margin: 0; */
        font-family: Arial, sans-serif;
        background-color: #1d1f26;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .btn-primary {
        color: #fff;
        border: none
    }
        input, textarea, select {
            background-color: transparent; 
            border: none;
            color: #fff; 
        }
        select:focus-visible {
            outline: none;
            }

        input::placeholder,
        textarea::placeholder, select::placeholder {
            opacity: 1; 
        }
</style>
<div class="form-container">
    <div class="logo-container">
        <img src="~/Assets/Images/1-removebg-preview.png" alt="Logo" class="logo">
    </div>
    <h2 class="form-title">Edit</h2>
    <form asp-action="Edit" method="post" class="form-form">
        <input type="hidden" asp-for="Id" />
        <div class="input-group">
            <label asp-for="FullName" class="form-label d-flex align-items-center">
                <i class="fas fa-user me-2"></i>
            </label>
            <input asp-for="FullName" required>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="input-group">
            <label asp-for="Email" class="form-label d-flex align-items-center">
                <i class="fas fa-envelope me-2"></i>
            </label>
            <input asp-for="Email" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label asp-for="DateOfBirth" class="form-label d-flex align-items-center">
                <i class="fas fa-calendar-alt me-2"></i>
            </label>
            <input asp-for="DateOfBirth" type="date"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label asp-for="IsMale" class="form-label d-flex align-items-center">
                <i class="fas fa-venus-mars me-2"></i>
            </label>
            <select asp-for="IsMale" class="form-control" style="background-color: #404452;color: #fff !important;border:none;">
                <option value="">Select Gender</option>
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
            <span asp-validation-for="IsMale" class="text-danger"></span>
        </div>

        <div class="input-group">
            <label asp-for="Description" class="form-label d-flex align-items-center">
                <i class="fas fa-align-left me-2"></i>
            </label>
            <textarea asp-for="Description" style="background-color: transparent;width: 90%" rows="1"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input type="submit" value="Save Changes" class="btn btn-danger w-100 p-2" />
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
    @if (ViewBag.Error != null)
    {
        <p class="error-message">@ViewBag.Error</p>
    }
</div>


